@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #f7ef84;
}

ul,
ol {
    list-style: none;
}

img,
video,
iframe {
    vertical-align: middle;
}

img,
video {
    max-width: 100%;
}

body {
    font-family: 'SUITE', sans-serif;
    font-size: 20px;
    line-height: 30px;
    background-color: #16224b;
    min-width: 1450px;
}

/*header*/
#header {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.gnb {
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.gnb li {
    font-weight: bold;
    padding-left: 50px
}

/*swiper main_banner*/

/*menu*/
#box {
    background-color: #fff;
    color: #17224b;
    padding: 80px 0;
}

#menu {
    width: 1320px;
    margin: 0 auto;
}

#menu h1 {
    text-align: center;
    font-family: 'PyeongChang Peace';
    padding-bottom: 40px;
}

.menu_inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.menu_inner li h3 {
    font-family: 'PyeongChang Peace';
    font-size: 25px;
    line-height: 40px;
    padding-bottom: 40px;
}

.menu_inner h4 {
    padding: 30px 0;
}

/*event*/
#event_box {
    width: 1320px;
    margin: 0 auto;
}

#event_box h1 {
    text-align: center;
    font-family: 'PyeongChang Peace';
    color: #ebebcc;
    padding-top: 60px;
    padding-bottom: 40px;
}

/*introduce*/
#introduce {
    padding: 80px 0;
}

#introduce h1 {
    text-align: center;
    font-family: 'PyeongChang Peace';
    color: #ebebcc;
    padding-top: 60px;
    padding-bottom: 80px;
}

#introduce ul {
    width: 1130px;
    height: 920px;
    margin: 0 auto;
    position: relative;
}

.int1 {
    width: 350px;
    height: 520px;
    background-image: url(../image/introduce1.png);
    position: absolute;
    top: 0;
    left: 0;
}

.int1:hover {
    background-image: url(../image/introduce_hover1.png);
    transition: all 0.5s;
}

.int2 {
    width: 350px;
    height: 350px;
    background-image: url(../image/introduce2.png);
    position: absolute;
    top: 0;
    left: 390px;
}

.int2:hover {
    background-image: url(../image/introduce_hover2.png);
    transition: all 0.5s;
}

.int3 {
    width: 350px;
    height: 520px;
    background-image: url(../image/introduce3.png);
    position: absolute;
    top: 0;
    right: 0;
}

.int3:hover {
    background-image: url(../image/introduce_hover3.png);
    transition: all 0.5s;
}

.int4 {
    width: 350px;
    height: 350px;
    background-image: url(../image/introduce4.png);
    position: absolute;
    bottom: 0;
    left: 0;
}

.int4:hover {
    background-image: url(../image/introduce_hover4.png);
    transition: all 0.5s;
}

.int5 {
    width: 350px;
    height: 520px;
    background-image: url(../image/introduce5.png);
    position: absolute;
    bottom: 0;
    left: 390px;
}

.int5:hover {
    background-image: url(../image/introduce_hover5.png);
    transition: all 0.5s;
}

.int6 {
    width: 350px;
    height: 350px;
    background-image: url(../image/introduce6.png);
    position: absolute;
    bottom: 0;
    right: 0;
}

.int6:hover {
    background-image: url(../image/introduce_hover6.png);
    transition: all 0.5s;
}

/*instagram*/
#instagram_box {
    background-color: #fff;
    color: #17224b;
    padding: 200px 0;
}

#instagram {
    width: 1320px;
    margin: 0 auto;
}

#instagram h1 {
    text-align: center;
    font-family: 'PyeongChang Peace';
    padding-bottom: 40px;
}


#instagram ul {
    display: flex;
    justify-content: space-between;
}

/*footer*/
#footer {
    text-align: center;
    padding-bottom: 50px;
}

#footer img {
    padding: 50px 0;
}

#footer p {
    color: #fff;
    padding-bottom: 10px;
}