@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #f7ef84;
}

ul,
ol {
    list-style: none;
}

img,
video,
iframe {
    vertical-align: middle;
}

img,
video {
    max-width: 100%;
}

body {
    font-family: 'SUITE', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #ebebcc;
    background-color: #16224b;
}

/*header*/
#header {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.gnb {
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.gnb li {
    font-weight: bold;
    padding-left: 50px
}

/*main_banner*/

/*cocktail*/
#cocktail {
    width: 1320px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: 'PyeongChang Peace';
    color: #ebebcc;
    padding-top: 150px;
    padding-bottom: 40px;
}

.cock {
    display: flex;
    flex-wrap: wrap;
}

.cock li {
    box-sizing: border-box;
    width: 33.3%;
    margin: 0 auto;
    padding-top: 50px;
}

/*food*/
#food {
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.food_inner {
    display: flex;
    flex-wrap: wrap;
}

.food_inner li {
    box-sizing: border-box;
    width: 33.3%;
    margin: 0 auto;
    padding-top: 50px;
}

/*footer*/
#footer {
    text-align: center;
    padding-bottom: 50px;
}

#footer img {
    padding: 50px 0;
}

#footer p {
    color: #fff;
    padding-bottom: 10px;
}